APP_ENV=debug
APP_PORT=8080
APP_TIMEOUT=100s
APP_CLIENT_URLS=http://localhost:5173
APP_REGISTER_VERIFICATION_URL=http://localhost:5173/auth/verify-registration
APP_RESET_PASSWORD_URL=http://localhost:5173/auth/reset-password

AUTH_SECRET_KEY=thisissecret
AUTH_TOKEN_DURATION=12h
AUTH_REFRESH_TOKEN_DURATION=720h
AUTH_ISSUER=album
AUTH_HASH_COST=10
AUTH_STATE_STORE=inmemory

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=album
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=5m

MAIL_SENDER_MAIL=test@mail.com
MAIL_SENDER_NAME=Nobar
MAIL_API_KEY=your-api-key

OAUTH_GOOGLE_CLIENT_ID=xxx-xxx.apps.googleusercontent.com
OAUTH_GOOGLE_CLIENT_SECRET=GOCSPX-xxx
OAUTH_GOOGLE_REDIRECT_URL=http://localhost:5173/auth/google/callback

NATS_URL=nats://localhost:4222
NATS_STATE_STORE_BUCKET=state-store

TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_API_KEY=your-api-key

OTEL_ENABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT="https://otlp-gateway-prod-ap-southeast-2.grafana.net/otlp"
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Basic xxx"
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=development
OTEL_EXPORTER_OTLP_INSECURE=false
OTEL_SERVICE_NAME=album
OTEL_SERVICE_INSTANCE_ID=local
OTEL_MAX_QUEUE_SIZE=256
OTEL_MAX_EXPORT_BATCH_SIZE=64
OTEL_BATCH_TIMEOUT=3s
OTEL_EXPORT_TIMEOUT=3s
OTEL_LOGS_ENABLED=true
OTEL_METRICS_ENABLED=true
OTEL_TRACES_ENABLED=true

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_NAME=album_test

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/album
GOOSE_MIGRATION_DIR=./internal/adapters/db/postgres/migrations
